/* test3 */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAEDC7;
  color: #4E0110;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #FFFFFF;
}

	h2 {
  font-family: 'Merriweather', serif;
  color: #881600;
}

header {
  background-color: #881600;
  color: white;
  padding: 30px 0;
  text-align: center;
}

nav {
  background-color: #C16200;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover,
nav .active {
  background-color: #4E0110;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

a.button {
  background-color: #881600; /* new : 881600, old :  C16200 */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

a.button:hover {
  background-color: #4E0110;
  transform: scale(1.05);
}

footer {
  background-color: #4E0110;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
}

footer section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

footer h2 {
  margin-top: 0;
  color: #FFFFFF ;
}
